<h2>Job created</h2>
Job Title: <%= @title %><br>
Company: <%= @company %><br>
Start Date: <%= @start_date %><br>
Job Description: <%= @about %><br>
Company Website: <%= @website%><br>
Contact name: <%= @name %><br>
Contact email: <%= @email %><br>
Contact number: <%= @contact_no %><br>
